<h2>About Dropzone Junkies</h2>

<p>
  Dropzone Junkies is a skydiving blog dedicated to all those who enjoy living in the moment
</p>


{{#link-to 'blog'}} Blog {{/link-to}}
<br><br>
{{#link-to  'contact'}} Contact {{/link-to}}
<br><br>
{{#link-to 'about'}} About {{/link-to}}
