<h1>Dropzone Junkies Blog</h1>

<h3>It's like reddit but with skydiving</h3>


{{new-blog-post saveBlogPost="saveBlogPost"}}



  <ul>
    {{#each model as |blogPost|}}
      {{post-tile blogPost=blogPost deleteBlogPost="deleteBlogPost"}}
    {{/each}}
  </ul>



{{#link-to 'index'}} Home {{/link-to}}
<br><br>
{{#link-to 'contact'}} Contact {{/link-to}}
<br><br>
{{#link-to 'about'}} About {{/link-to}}
