<p>
  Feel free to send in your videos which will be reviewed and displayed on our website!
</p>

<p>
  Send us an email if you have a story or want to be featured on our blog!
</p>

<p>
  Dropzone Junkies LLC
  808 Nantasket Ct,
  San Diego, CA 92109
</p>

<p>
  (415) 810-3075
</p>

<p>
  jasoncruze@gmail.com
</p>

{{#link-to 'blog'}} Blog {{/link-to}}
<br><br>
{{#link-to  'contact'}} Contact {{/link-to}}
<br><br>
{{#link-to 'about'}} About {{/link-to}}
